{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'clearfix',
] %}
<a class="node__teaser__link" href="{{ url }}">
  <article{{ attributes.addClass(classes) }}>
    <header>
      {{ title_prefix }}
      <h2{{ title_attributes.addClass('node__title') }}>
        {{ label }}
      </h2>
      {{ title_suffix }}
      {% if display_submitted %}
        <div class="node__meta">
          {{ author_picture }}
          <span{{ author_attributes }}>
         {{ date }}
        </span>
          {{ metadata }}
        </div>
      {% endif %}
      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content.body }}
      </div>
    </header>
  </article>
</a>


{{ attach_library('mrshndr/node--teaser') }}
